{% extends 'base.html.twig' %}

{% block body %}
    {% if user %}
        <h5>Congratulations!</h5>
        <p>Your account is confirmed! You can now sign in <a her="{{ path('security_login') }}">her</a></p>
    {% else %}
        Something wrong
    {% endif %}
{% endblock %}
